.App {
  padding: 15px;
  background: #92c5c8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  .container {
    display: flex;
    border: 1px solid green;
    flex-grow: 1;
    // background: red;

    .left {
      flex: 4;
      // background: red;
      height: 200px;
      padding-top: 45px;

      .description {
        color: #000;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.0825rem;
        font-weight: 100;
        padding-right: 34px;
      }
    }
    .right {
      flex: 5;
      background: blue;
      height: 100%;
      background-size: cover;
      background-position: center;
      border-radius: 9px;
    }
  }
}
